.row {
    display: flex;
    width: 65vw;
    margin: auto;
    &.title {
        font-size: 30px;
        padding: 20px;
    }
    .col {
        margin: 10px auto;
        align-items: center;
    }
}
