.result {
    width: 50vw;
    margin: auto;
    text-align: center;
    * {
        padding: 20px 0px
    }
    h2 {
        font-size: 50px;
    }
    p {
        font-size: 20px;
    }
    div {
        width: 30%;
        margin: auto;
    }
}